/*
Template: Seabite - Seafood Restaurant WordPress Theme
Author: peacefulqode.com
Version: 1.0
Design and Developed by: Peacefulqode

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

/*==============================================
[  Table of contents  ]
================================================

==> Moz Selection
==> General
==> Loading
==> Back to Top

=======================================
[ End table content ]
======================================*/


/*---------------------------------------------------------------------
woocommerce Button
-----------------------------------------------------------------------*/
.woocommerce a.button, .button, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce button.button, .woocommerce ul.products li.product .button, .woocommerce #respond input#submit, .woocommerce button.button.alt.disabled {
	overflow: hidden;
	font-family: var(--body-fonts);
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2;
	font-size: 16px;
	padding: 12px 30px;
	position: relative;
	width: auto;
	text-transform: uppercase;
	background: var(--primary-color);
	letter-spacing: 1px;
	border: 0px solid var(--primary-color);
	color: var(--white-color);
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	transition: all var(--transition-duration) var(--transition-timing-function);
	-moz-transition: all var(--transition-duration) var(--transition-timing-function);
	-ms-transition: all var(--transition-duration) var(--transition-timing-function);
	-o-transition: all var(--transition-duration) var(--transition-timing-function);
	-webkit-transition: all var(--transition-duration) var(--transition-timing-function);
}

.button:hover, .woocommerce .cart .button:hover, .woocommerce .cart input.button:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce button.button:hover, .woocommerce ul.products li.product .button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button.alt.disabled:hover {
	background: var(--dark-color);
	color: var(--white-color);
}

.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
	padding: 10px 30px;
	color: var(--white-color);
}

.woocommerce-breadcrumb {
	display: none;
}

/*--------------------------------------------------------------------- 
woocommerce Pagination 
-----------------------------------------------------------------------*/
.woocommerce nav.woocommerce-pagination ul {
	margin: 0;
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
	border: none;
	margin-right: 12px;
}

.woocommerce nav.woocommerce-pagination ul li:last-child {
	margin-right: 0;
}

.woocommerce nav.woocommerce-pagination ul li .page-numbers {
	position: relative;
	display: block;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	padding: 0;
	margin: 0;
	color: var(--dark-color);
	background-color: var(--grey-color);
	border: 1px solid var(--grey-color);
	border-radius: 0;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	color: var(--white-color);
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-weight: 400;
	text-transform: uppercase;
	color: var(--dark-color);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: var(--white-color);
}

/*--------------------------------------------------------------------- 
Cart
-----------------------------------------------------------------------*/
.woocommerce table.shop_table {
	border-collapse: collapse;
}

.woocommerce .quantity .qty {
	float: none;
	padding: 0;
}

.woocommerce table.shop_table thead>tr {
	background: var(--grey-color);
}

.woocommerce table.shop_table td.product-name a {
	color: var(--dark-color);
}

.woocommerce table.shop_table td a {
	text-decoration: none;
	color: var(--white-color);
}

.woocommerce table.shop_table th {
	font-weight: bold;
	padding: 15px 30px;
	line-height: 1.5;
	color: var(--dark-color);
	border-right: none;
	border: none;
	border-left: none;
	border-bottom: 1px solid var(--grey-color);
	text-align: left;
	font-family: var(--title-fonts);
	font-size: 16px;
}

.woocommerce table.shop_table td {
	border: none;
	border-left: none;
	border-bottom: 1px solid var(--grey-color);
	text-align: left;
}

.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th {
	text-align: left;
	font-weight: 500;
}

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
	font-weight: 500;
}

.order-total {
	font-weight: bold;
	color: var(--dark-color);
}

.woocommerce-cart-form {
	margin-bottom: 80px;
}

.woocommerce-additional-fields h3 {
	margin-top: 30px;
}

.cross-sells h2, .cart_totals h2 {
	margin-bottom: 30px;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: 200px;
	border: 2px solid var(--grey-color);
	padding: 0 15px;
	margin: 0 10px 0 0;
	outline: 0;
}

.woocommerce .cart_totals .wc-proceed-to-checkout .button {
	width: 100%;
	padding: 12px 30px;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce-billing-fields h3, #order_review_heading, .woocommerce-order-details__title {
	margin-bottom: 15px;
}

.woocommerce table.shop_table {
	border: none;
}

.woocommerce-billing-fields__field-wrapper label, .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper {
	display: inline-block;
	width: 100%;
}

.woocommerce form .form-row .select2-container {
	border: 1px solid #ededed;
	background: #f5f7fb;
	line-height: 45px;
	height: 45px;
	padding: 0 10px;
	width: 100%;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.select2-search--dropdown {
	display: inline-block;
	padding: 10px;
	width: 100%;
}

.select2-container--default .select2-selection--single {
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] {
	background: #f5f7fb;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
	background: var(--primary-color);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #666666;
	line-height: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 44px;
}

.select2-dropdown {
	border: 1px solid #ededed;
}

.woocommerce-input-wrapper {
	display: inline-block;
	width: 100%;
}

.woocommerce form .form-row textarea {
	padding: 15px;
	height: 6em;
}

.woocommerce-checkout #payment ul.payment_methods li input {
	width: inherit;
	float: left;
	height: auto;
	margin: 10px 5px 0 0;
}

.woocommerce ul.order_details {
	margin: 15px 0;
	padding: 15px;
	border: 1px solid #ededed;
	background: #f5f7fb;
}

.woocommerce-cart .woocommerce {
	text-align: center;
}

.wc-empty-cart-message .cart-empty {
	background: var(--grey-color);
	padding: 30px;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce-cart .woocommerce .return-to-shop {
	margin-bottom: 0;
}

/*--------------------------------------------------------------------- 
Checkout 
-----------------------------------------------------------------------*/
.woocommerce form .form-row .select2-container {
	background: var(--grey-color);
	border: 1px solid var(--grey-color);
	color: var(--dark-color);
	width: 100%;
	float: left;
	padding: 0;
	height: 51px;
	line-height: 48px;
	outline: none;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	float: left;
	width: 48%;
	max-width: inherit;
	flex: inherit;
	padding: 0;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: right;
	padding: 0;
	width: 48%;
	max-width: inherit;
	flex: inherit;
}

#order_review_heading {
	margin-top: 45px;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: var(--grey-color);
	border-radius: 0;
}

.woocommerce-checkout #payment ul.payment_methods li input {
	margin: 10px 10px 0 0;
}

.woocommerce-checkout #payment ul.payment_methods li.payment_method_paypal input {
	margin: 18px 10px 0 0;
}

.woocommerce form .form-row {
	margin: 0;
	display: inline-block;
	width: 100%;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	float: left;
}

.woocommerce ul.order_details {
	background: var(--grey-color);
	border: 1px solid var(--grey-color);
}

.woocommerce ul.order_details li strong {
	color: var(--dark-color);
}

/*--------------------------------------------------------------------- 
Login 
-----------------------------------------------------------------------*/
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border: none;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

.woocommerce form .form-row {
	padding: 0;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
	line-height: 3;
	margin: 0;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme input[type=checkbox] {
	height: auto;
}

.woocommerce .woocommerce-form-login p {
	margin-bottom: 20px;
}

.woocommerce .woocommerce-form-login p:last-child {
	margin-bottom: 0;
}

.woocommerce .woocommerce-ResetPassword p.form-row-first {
	margin-bottom: 20px;
}

/*--------------------------------------------------------------------- 
My Account 
-----------------------------------------------------------------------*/
.woocommerce form.login {
	border-color: var(--grey-color);
}

input[type=checkbox] {
	height: 34px;
	width: 13px;
	width: auto;
	margin-right: 5px;
}

.woocommerce-form__label-for-checkbox {
	margin-top: 5px;
	margin-left: 30px;
}

.woocommerce form .form-row {
	padding: 0;
	margin: 0 0 15px;
}

.woocommerce-MyAccount-navigation ul {
	margin: 0 15px 0 0;
	padding: 0;
	border: 1px solid var(--grey-color);
}

.woocommerce-MyAccount-navigation li {
	list-style: none;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid var(--grey-color);
}

.woocommerce-MyAccount-navigation li a {
	padding: 10px 15px;
	color: var(--dark-color);
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

.woocommerce-MyAccount-navigation li a:hover, .woocommerce-MyAccount-navigation li.is-active a {
	color: var(--white-color);
	text-decoration: none;
	background: var(--primary-color);
}

.woocommerce-MyAccount-navigation li a:before {
	float: right;
	font-family: "Ionicons";
	font-weight: bold;
	font-size: 20px;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
	content: "\f2b3";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
	content: "\f3f7";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
	content: "\f41f";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
	content: "\f455";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
	content: "\f3d1";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
	content: "\f3a0";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
	content: "\f29f";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
	content: "\f064";
}

/*--------------------------------------------------------------------- 
Product Page
-----------------------------------------------------------------------*/
.woocommerce .products ul, .woocommerce ul.products {
	margin: 0 -15px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	width: 25%;
	text-align: center;
	margin: 0 0 45px;
	padding: 0 15px;
}

.woocommerce-page.columns-2 ul.products li.product, .woocommerce.columns-2 ul.products li.product, .woocommerce ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-2 li.product {
	width: 50%;
}

.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product, .woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
	width: 33.3333333%;
}

.woocommerce-page.columns-5 ul.products li.product, .woocommerce.columns-5 ul.products li.product {
	width: 20%;
}

.woocommerce-page.columns-6 ul.products li.product, .woocommerce.columns-6 ul.products li.product {
	width: 16.666666666%;
}

.woocommerce ul.products li.product .onsale {
	top: 15px;
	right: 30px;
	left: auto;
	margin: 0;
	min-height: auto;
	min-width: auto;
	padding: 0px 10px;
	border-radius: 0;
	line-height: 2;
	font-weight: 400;
	font-size: 14px;
	background: var(--primary-color);
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce span.onsale {
	top: 15px;
	left: 15px;
	margin: 0;
	min-height: auto;
	min-width: auto;
	padding: 0px 10px;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	line-height: 2;
	font-weight: 400;
	font-size: 16px;
	background: var(--primary-color);
	text-transform: uppercase;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 32px;
}

.woocommerce ul.products li.product .price {
	color: var(--primary-color);
	font-size: 16px;
	margin: 0;
}

.woocommerce a.added_to_cart {
	width: 100%;
}

.product_meta .sku_wrapper, .product_meta .posted_in, .product_meta .tagged_as {
	margin-bottom: 5px;
	width: 100%;
	display: inline-block;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: var(--primary-color);
	margin-bottom: 20px;
}

.woocommerce div.product div.images img {
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	border: 2px solid var(--primary-color);
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
	font-weight: 400;
	text-decoration: none;
}

.woocommerce div.product form.cart div.quantity {
	background: var(--grey-color);
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	border: 2px solid var(--primary-color);
	position: relative;
	margin-right: 15px;
	display: inline-block;
	height: 56px;
	transition: all var(--transition-duration) var(--transition-timing-function);
	-moz-transition: all var(--transition-duration) var(--transition-timing-function);
	-ms-transition: all var(--transition-duration) var(--transition-timing-function);
	-o-transition: all var(--transition-duration) var(--transition-timing-function);
	-webkit-transition: all var(--transition-duration) var(--transition-timing-function);
}

.woocommerce div.product form.cart div.quantity.hidden {
	display: none;
}

.woocommerce div.product form.cart div.quantity [type="button"] {
	transition: none;
	background: none;
	color: var(--secoundary-color) !important;
	width: 40px;
	font-weight: 400;
	font-size: 30px;
	line-height: 46px;
	padding: 0;
	padding-bottom: 0;
	vertical-align: top;
}

.woocommerce div.product form.cart div.quantity .plus[type="button"] {
	font-size: 20px;
	line-height: 46px;
	color: var(--secoundary-color) !important;
}

.woocommerce div.product form.cart div.quantity [type="button"]:hover {
	color: var(--primary-color) !important;
}

.woocommerce div.product form.cart div.quantity .input-text {
	-webkit-appearance: none;
	padding: 0;
	width: 40px;
	height: 52px;
	line-height: 52px;
	vertical-align: top;
	text-align: center;
	float: none;
	border: 0;
	outline: 0;
	-webkit-appearance: none !important;
	background: transparent;
	border-radius: 0;
}

.woocommerce div.product form.cart div.quantity .pt-qty-btn {
	position: absolute;
	left: 0;
	font-size: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.woocommerce div.product form.cart div.quantity .pt-qty-btn i {
	font-family: "Font Awesome 5 Brands";
}

.woocommerce div.product form.cart div.quantity .pt-qty-btn.quantity-minus {
	right: 0;
	left: auto;
}

.woocommerce div.product .pt-single-product-share {
	display: flex;
	align-items: center;
	margin: 20px 0 0;
}

.woocommerce div.product .pt-single-product-share .pt-share-name {
	color: var(--dark-color);
	display: inline-block;
	margin-right: 10px;
	font-family: var(--title-fonts);
	text-transform: uppercase;
	font-weight: bold;
}

.woocommerce div.product .pt-single-product-share .pt-share-itmes {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.woocommerce div.product .pt-single-product-share .pt-share-itmes li {
	display: inline-block;
	margin-right: 10px;
}

.woocommerce div.product .pt-single-product-share .pt-share-itmes li a {
	text-align: center;
	display: inline-block;
	color: var(--dark-color);
	width: 45px;
	height: 45px;
	line-height: 45px;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	background: var(--grey-color);
	transition: all var(--transition-duration) var(--transition-timing-function);
	-moz-transition: all var(--transition-duration) var(--transition-timing-function);
	-ms-transition: all var(--transition-duration) var(--transition-timing-function);
	-o-transition: all var(--transition-duration) var(--transition-timing-function);
	-webkit-transition: all var(--transition-duration) var(--transition-timing-function);
}

.woocommerce div.product .pt-single-product-share .pt-share-itmes li a:hover {
	background: var(--primary-color);
	color: var(--white-color);
	transition: 0.5 s ease-in-out;
}

.woocommerce div.product .pt-single-product-share .pt-share-itmes li a i:hover {
	color: var(--white-color);
}

.woocommerce div.product .product_meta>span {
	display: block;
	color: var(--dark-color);
	margin-bottom: 10px;
	font-family: var(--title-fonts);
	text-transform: uppercase;
	font-weight: bold;
}

.product_meta .sku_wrapper span.sku, .product_meta .posted_in a, .product_meta .tagged_as a {
	color: var(--secondary-color);
	margin-left: 5px;
	font-weight: 400;
	font-family: var(--body-fonts);
	text-decoration: none;
	text-transform: capitalize;
}

.product_meta .posted_in a:hover, .product_meta .tagged_as a:hover {
	color: var(--primary-color);
}

@media(max-width:379px) {
	.woocommerce div.product .pt-single-product-share {
		flex-direction: column;
		align-items: flex-start
	}

}

/*--------------------------------------------------------------------- 
Tab products 
-----------------------------------------------------------------------*/
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	text-align: left;
	padding: 0;
	margin: 0 0;
	border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 0;
	padding: 0 30px;
	margin: 0;
	background: none;
	border-color: var(--grey-color);
	transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none !important;
}

.woocommerce-tabs {
	margin-bottom: 45px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: var(--primary-color);
	color: var(--white-color);
	border-color: var(--primary-color);
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	transition: all var(--transition-duration) var(--transition-timing-function);
	-moz-transition: all var(--transition-duration) var(--transition-timing-function);
	-ms-transition: all var(--transition-duration) var(--transition-timing-function);
	-o-transition: all var(--transition-duration) var(--transition-timing-function);
	-webkit-transition: all var(--transition-duration) var(--transition-timing-function);
}

.woocommerce-Tabs-panel h2 {
	margin-bottom: 15px;
}

.woocommerce .related.products h2 {
	margin-bottom: 15px;
}

.woocommerce .comment-respond .comment-reply-title:before {
	display: none;
}

.woocommerce #review_form #respond.comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url {
	width: 32.7%;
}

.woocommerce #review_form #respond p {
	margin-right: 10px;
}

.woocommerce #review_form #respond .comment-form-url {
	margin-right: 0;
}

.woocommerce #review_form .comment-respond .comment-form-author, .woocommerce #review_form .comment-respond .comment-form-email, .woocommerce #review_form .comment-respond .comment-form-url {
	margin-right: 15px;
}

.woocommerce #review_form #respond textarea {
	height: 150px;
}

.woocommerce-Tabs-panel .comment-respond .comment-form-email {
	margin-right: 0;
}

.woocommerce .woocommerce-Tabs-panel #review_form .comment-respond .form-submit {
	margin: 0;
}

.woocommerce div.product .woocommerce-tabs .panel {
	margin: 15px 0 0;
	padding: 30px 30px;
	border: 1px solid var(--grey-color);
	background: var(--grey-color);
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce div.product .woocommerce-tabs .panel h2 {
	font-size: 28px;
	line-height: 36px;
}

.woocommerce ul.products li.product .star-rating {
	font-size: 14px;
	display: inline-block;
	margin: 10px 0 0;
}

.woocommerce ul.products li.product .price ins {
	font-weight: 400;
	color: var(--dark-color);
	text-decoration: none;
}

.woocommerce ul.products li.product a h2 {
	transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.woocommerce ul.products li.product a:hover h2 {
	color: var(--primary-color);
}

.woocommerce ul.products li.product a img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.woocommerce nav.woocommerce-pagination ul {
	border: 0;
}

/*++++++++++ shop page ++++++++++ */
.woocommerce-shop .woocommerce nav.woocommerce-pagination {
	margin-bottom: 80px;
}

/*+++++++++++++++++++ */
.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner {
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	border: 2px solid var(--grey-color);
	transition: all var(--transition-duration) var(--transition-timing-function);
	-moz-transition: all var(--transition-duration) var(--transition-timing-function);
	-ms-transition: all var(--transition-duration) var(--transition-timing-function);
	-o-transition: all var(--transition-duration) var(--transition-timing-function);
	-webkit-transition: all var(--transition-duration) var(--transition-timing-function);
}

.woocommerce ul.products li.product .pt-product-item:hover .pt-product-img-inner {
	border: 2px solid var(--primary-color);
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 15px;
	display: flex;
	z-index: 1;
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-overlay:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	background: var(--dark-color);
	transform: translateY(100%);
	transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	display: none;
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner:hover .pt-product-overlay:before {
	align-items: center;
	justify-content: center;
	transform: translateY(0px);
	opacity: 0.4;
	transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-content a {
	transform: translateY(60px);
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner:hover .pt-product-content a {
	transform: translateY(0px);
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner:hover .pt-product-content {
	opacity: 1;
	bottom: 0px;
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-content {
	position: absolute;
	left: 50%;
	bottom: -100px;
	transform: translate(-50%, 0%);
	width: 100%;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-content a {
	background: var(--dark-color);
	display: block;
	border-radius: 0;
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-content a.added {
	display: none;
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-content a.add_to_cart_button:hover {
	background: var(--primary-color);
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-content .added_to_cart {
	background: var(--primary-color);
	color: var(--white-color);
	letter-spacing: 1px;
	font-family: var(--body-fonts);
	font-size: 16px;
	font-weight: 400;
	padding: 12px 30px;
	text-transform: uppercase;
	line-height: 2;
	letter-spacing: 1px;
}

.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner:hover .pt-overlay:before {
	transform: translateY(0%);
	opacity: 1;
}

.woocommerce a.button.loading::after {
	margin-right: 15px;
	margin-left: 10px;
	right: inherit;
	top: 12px;
}

.woocommerce-shop .content-area .site-main {
	padding: 130px 0 50px;
}

@media(max-width:1024px) {
	.woocommerce ul.products li.product .pt-product-item .pt-product-img-inner .pt-product-content {
		position: absolute;
		left: 50%;
		bottom: 0px;
		transform: translate(-50%, 0%);
		width: 100%;
		opacity: 1;
	}

}

/*--------------------------------------------------------------------- 
Tab products 
-----------------------------------------------------------------------*/
.single-product .content-area .site-main {
	padding: 130px 0 85px;
}

.woocommerce-message::before, .woocommerce-info::before {
	color: var(--primary-color);
}

.woocommerce-message, .woocommerce-info {
	border-top-color: var(--primary-color);
	background: var(--grey-color);
}

.woocommerce-notices-wrapper .woocommerce-message a {
	line-height: 1;
	padding: .618em 1em;
	font-size: 14px;
}

.woocommerce table.shop_attributes {
	background: var(--white-color);
}

.woocommerce table.shop_attributes th {
	text-align: left;
	width: 250px;
	line-height: 2;
	font-family: var(--title-fonts);
	color: var(--dark-color);
	text-transform: uppercase;
	font-weight: bold;
}

.woocommerce table.shop_attributes td {
	text-align: left;
	padding: 0 15px;
	font-style: normal;
}

@media(max-width:1024px) {
	.single-product .content-area .site-main {
		padding: 90px 0 45px;
	}

}

@media(max-width:768px) {
	.single-product .content-area .site-main {
		padding: 60px 0 15px;
	}

}

/*--------------------------------------------------------------------- 
Woocommerce Tab 
-----------------------------------------------------------------------*/
.woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond input, .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond textarea {
	background: var(--white-color);
	border: 1px solid var(--white-color);
}

.woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond input:focus, .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond input:hover, .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond textarea:focus, .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond textarea:hover {
	border: 1px solid var(--primary-color);
}

/*+++++ Cart +++++*/
.woocommerce-message, .woocommerce-info, .woocommerce-error {
	border-top: none;
	color: var(--secoundary-color);
}

.woocommerce-message {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce-message::before, .woocommerce-info::before {
	display: none;
}

.woocommerce .woocommerce-message a.button {
	background: var(--dark-color);
	color: var(--white-color);
	float: none;
	order: 1;
	line-height: normal;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce .woocommerce-message a.button:hover {
	background: var(--primary-color);
}

.woocommerce-info {
	padding: 0;
	background: transparent;
}

.woocommerce-info a {
	color: var(--dark-color);
	text-decoration: none;
}

.woocommerce table.shop_table thead>tr {
	background: var(--grey-color);
	border-radius: 3px;
}

.woocommerce .woocommerce-notices-wrapper table.shop_table thead>tr {
	border-radius: 3px;
}

.woocommerce table.shop_table th {
	padding: 15px 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	color: var(--dark-color);
	text-align: center;
	border-bottom: 1px solid var(--grey-color);
}

.woocommerce table.shop_table {
	border-radius: 0;
	border: none;
	border-collapse: collapse;
}

.woocommerce table.shop_table td {
	text-transform: uppercase;
	padding: 15px 30px;
	text-align: center;
	border-top: none;
	border-bottom: 1px solid var(--grey-color);
}

.woocommerce table.shop_table td:first-child {
	border-left: none;
}

.woocommerce table.shop_table td a.remove {
	display: inline-block;
	font-size: 20px;
	width: 30px;
	height: 30px;
	line-height: 26px;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
	width: 100px;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce table.shop_table td a {
	text-decoration: none;
	color: var(--white-color);
}

.woocommerce a.remove {
	color: var(--dark-color) !important;
	font-weight: 400;
}

.woocommerce table.shop_table td.product-name .variation {
	text-align: center;
}

.woocommerce table.shop_table td.product-name .variation .variation-Color {
	float: none;
	float: none;
	font-weight: 400;
	color: var(--dark-color);
}

.woocommerce table.shop_table td.product-name .variation .variation-Color+.variation-Color {
	display: inline-block;
	color: var(--secondary-color);
}

.woocommerce table.shop_table td.product-quantity div.quantity {
	background: var(--grey-color);
	border: 1px solid var(--grey-color);
	position: relative;
	margin-right: 10px;
	float: none;
	display: inline-block;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.woocommerce table.shop_table td.product-quantity div.quantity:hover {
	border-color: var(--dark-color);
	color: var(--white-color);
	background: var(--dark-color);
}

.woocommerce table.shop_table td.product-quantity div.quantity:hover input {
	color: var(--white-color);
}

.woocommerce table.shop_table td.product-quantity div.quantity [type="button"] {
	background: none;
	color: var(--secoundary-color) !important;
	width: 40px;
	font-size: 30px;
	line-height: normal;
	padding: 0;
	padding-bottom: 5px;
	vertical-align: middle;
}

.woocommerce table.shop_table td.product-quantity div.quantity [type="button"]:hover {
	color: var(--dark-color);
}

.woocommerce table.shop_table td.product-quantity div.quantity .plus[type="button"] {
	font-size: 20px;
}

.woocommerce table.shop_table td.product-quantity div.quantity .input-text {
	-webkit-appearance: none;
	padding: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 0;
	outline: 0;
	-webkit-appearance: none !important;
	background: transparent;
	border-radius: 0;
	float: none;
}

.woocommerce table.shop_table td.product-quantity div.quantity .pt-qty-btn {
	position: absolute;
	left: 0;
	font-size: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.woocommerce table.shop_table td.product-quantity div.quantity .pt-qty-btn i {
	font-family: "Font Awesome 5 Brands";
}

.woocommerce table.shop_table td.product-quantity div.quantity .pt-qty-btn.quantity-minus {
	right: 0;
	left: auto;
}

.woocommerce table.shop_table td.product-subtotal .woocommerce-Price-amount {
	color: var(--dark-color);
}

.woocommerce table.shop_table td.actions {
	padding: 30px 0;
	border-bottom: none;
}

.woocommerce table.shop_table td.actions .coupon {
	width: 50%;
	display: flex;
}

.woocommerce-page #content table.cart td.actions .coupon .input-text {
	width: 70%;
	background: var(--grey-color);
	padding-left: 15px;
	margin: 0;
	border: 1px solid var(--grey-color);
}

.woocommerce-page #content table.cart td.actions .coupon .input-text:focus {
	border: 1px solid var(--dark-color);
}

.woocommerce-page #content table.cart td.actions .button:hover {
	background: var(--dark-color);
	color: var(--white-color);
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
	margin-top: 45px;
}

.woocommerce .cart-collaterals .cart_totals {
	width: 100%;
	float: none;
}

.woocommerce .cart-collaterals .cart_totals h2 {
	margin: 0;
	width: 25%;
	float: left;
	padding-top: 20px;
	font-size: 30px;
	line-height: 38px;
}

.woocommerce-cart .cart-collaterals table.shop_table {
	width: 45%;
	float: right;
	margin-bottom: 30px;
}

.woocommerce-cart .cart-collaterals .cart_totals table.shop_table tr th, .woocommerce-cart .cart-collaterals .cart_totals table.shop_table tr td {
	border-top: none;
	color: var(--secondary-color);
}

.woocommerce-cart .cart-collaterals .cart_totals table.shop_table tr.order-total th, .woocommerce-cart .cart-collaterals .cart_totals table.shop_table tr.order-total td {
	color: var(--dark-color);
	font-weight: 500;
}

.woocommerce-cart .cart-collaterals .cart_totals table.shop_table tr.order-total td strong {
	font-weight: 500;
}

.woocommerce-cart .cart-collaterals .wc-proceed-to-checkout {
	width: 45%;
	float: right;
	clear: both;
	padding: 0;
}

.woocommerce-cart .cart-collaterals .wc-proceed-to-checkout a.button.alt {
	text-transform: uppercase;
	margin: 0;
}

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
	font-weight: 400;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background: var(--dark-color);
	color: var(--white-color);
	font-weight: 400;
	font-size: inherit;
	text-transform: uppercase;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background: var(--primary-color);
}

.woocommerce div.product form.cart div.quantity {
	border: 1px solid var(--grey-color);
	background: var(--grey-color);
	border-radius: 5px;
	position: relative;
	margin-right: 15px;
	display: inline-block;
	height: 50px;
	transition: all 0.5s ease-in-out;
}

.woocommerce div.product form.cart div.quantity.hidden {
	display: none;
}

.woocommerce div.product form.cart table div.quantity {
	display: flex;
}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label a {
	text-decoration: none;
	color: inherit;
}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label a:hover {
	color: var(--primary-color);
}

.woocommerce div.product form.cart table.group_table {
	border: 1px solid var(--grey-color);
	margin-bottom: 30px;
	border-right: 0;
	border-left: 0;
	font-size: 14px;
	line-height: 22px;
	color: var(--dark-color);
}

.woocommerce div.product form.cart table.group_table .quantity {
	border: none;
}

.woocommerce div.product form.cart table.group_table tr {
	border-bottom: 1px solid var(--grey-color);
}

.woocommerce div.product form.cart table.group_table tr:last-child {
	border: none;
}

.woocommerce div.product form.cart table.group_table td {
	vertical-align: middle;
}

.woocommerce div.product form.cart table.group_table td {
	padding: 8px 0;
}

.woocommerce div.product form.cart table.group_table td:first-child {
	width: auto;
}

.woocommerce div.product form.cart table.group_table p.stock {
	margin-bottom: 0;
}

.woocommerce div.product form.cart .single-add-to-cart-wrapper {
	display: -webkit-box;
	display: flex;
	justify-content: center;
}

.woocommerce div.product form.cart div.quantity:hover {
	border-color: var(--dark-color);
	background: var(--dark-color);
	color: var(--white-color);
}

.woocommerce div.product form.cart div.quantity:hover input {
	color: var(--white-color);
	transition: 0.5 s ease-in-out;
}

.woocommerce div.product form.cart div.quantity [type="button"] {
	transition: none;
	background: none;
	color: var(--secoundary-color) !important;
	width: 40px;
	font-weight: 400;
	font-size: 30px;
	line-height: 46px;
	padding: 0;
	padding-bottom: 5px;
	vertical-align: top;
}

.woocommerce div.product form.cart div.quantity .plus[type="button"] {
	font-size: 20px;
	line-height: 46px;
	color: var(--secoundary-color) !important;
}

.woocommerce div.product form.cart div.quantity [type="button"]:hover {
	color: var(--dark-color);
}

.woocommerce div.product form.cart div.quantity .input-text {
	-webkit-appearance: none;
	padding: 0;
	width: 40px;
	height: 50px;
	line-height: 50px;
	vertical-align: top;
	text-align: center;
	float: none;
	border: 0;
	outline: 0;
	-webkit-appearance: none !important;
	background: transparent;
	border-radius: 0;
}

.woocommerce div.product form.cart div.quantity .pt-qty-btn {
	position: absolute;
	left: 0;
	font-size: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.woocommerce div.product form.cart div.quantity .pt-qty-btn i {
	font-family: "Font Awesome 5 Brands";
}

.woocommerce div.product form.cart div.quantity .pt-qty-btn.quantity-minus {
	right: 0;
	left: auto;
}

@media (max-width:1199px) {
	.woocommerce-cart .cart-collaterals table.shop_table {
		width: 75%;
	}

	.woocommerce-cart .cart-collaterals .wc-proceed-to-checkout {
		width: 75%;
	}

}

@media (max-width:768px) {
	.woocommerce table.shop_table td.actions .coupon {
		width: 100%;
	}

	.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
		font-weight: 500;
		font-size: 16px;
		color: var(--dark-color);
	}

	.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
		margin-top: 0;
	}

	.woocommerce .cart-collaterals .cart_totals h2 {
		float: none;
		width: 100%;
	}

	.woocommerce-cart .cart-collaterals table.shop_table {
		width: 100%;
		margin-top: 30px;
	}

	.woocommerce-cart .cart-collaterals .wc-proceed-to-checkout {
		width: 100%;
		margin-left: 0;
	}

}

/*---------------------------------------------------------------------
Widget 
-----------------------------------------------------------------------*/
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
	width: 20%;
	display: inline-block;
	padding: 15px 15px 0 0;
}

.woocommerce .woocommerce-ordering {
	margin: 0 0 30px;
}

.woocommerce .woocommerce-result-count {
	margin: 0 0 30px;
	line-height: 3;
}

.woocommerce-product-search {
	position: relative;
}

.woocommerce-product-search button {
	background: var(--primary-color);
	border: none;
	padding: 0;
	font-size: 0;
	position: absolute;
	text-align: center;
	color: var(--white-color);
	line-height: 51px;
	height: 51px;
	width: 51px;
	top: 0;
	right: 0;
	transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.woocommerce-product-search button:before {
	content: "\f002";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 16px;
}

.woocommerce-product-search button:hover {
	background: var(--dark-color);
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {
	padding: 0;
}

.widget .price_slider_wrapper .ui-slider-horizontal {
	height: .5em;
	background: var(--grey-color);
	margin-bottom: 30px;
	margin-top: 30px;
	position: relative;
}

.widget .price_slider_wrapper .ui-slider-horizontal .ui-corner-all {
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em;
	background-color: var(--primary-color);
	border-radius: 1em;
	cursor: ew-resize;
	outline: 0;
	top: -.3em;
	margin-left: -.5em;
}

.widget .price_slider_wrapper .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	border-radius: 1em;
	background-color: var(--primary-color);
}

.widget .price_slider_wrapper .price_slider_amount .price_label {
	font-family: 'Jost', sans-serif;
	color: var(--dark-color);
	font-style: normal;
	font-weight: bold;
	float: right;
	line-height: 3.3;
}

/*===== Tags =====*/
.widget .tagcloud .tag-cloud-link {
	font-size: 14px !important;
	background: var(--primary-color);
	margin: 0 10px 10px 0;
	display: inline-block;
	float: left;
	color: var(--white-color);
	padding: 4px 8px;
	border: 1px solid var(--primary-color);
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.widget .tagcloud .tag-cloud-link:hover {
	border-color: var(--dark-color);
	background: var(--dark-color);
	color: var(--white-color);
}

@media(max-width:1365px) {
	.woocommerce-page.columns-6 ul.products li.product, .woocommerce.columns-6 ul.products li.product {
		width: 33.333333%;
	}

}

@media(max-width:1023px) {
	.woocommerce-page.columns-6 ul.products li.product, .woocommerce.columns-6 ul.products li.product, .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		width: 50%;
	}

}

@media(max-width:767px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		padding: 0 15px;
	}

	.woocommerce-page.columns-2 ul.products li.product, .woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product, .woocommerce.columns-6 ul.products li.product, .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product, .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		width: 100%;
		margin: 0 0 30px;
	}

	.woocommerce .woocommerce-result-count {
		margin: 0 0 0;
		line-height: 3;
		text-align: center;
		width: 100%;
	}

	.woocommerce .woocommerce-ordering {
		margin: 0 0 30px;
		float: left;
		width: 100%;
	}

	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
		float: left;
		width: 100%;
	}

	.woocommerce ul.order_details li {
		margin-bottom: 15px;
	}

	.woocommerce-account .woocommerce-MyAccount-content {
		margin-top: 30px;
	}

}

/*+++++++++++++++++++++++++++++++++++++++++++++++
Shop Sidebar
++++++++++++++++++++++++++++++++++++++++++++++++*/
.wc-block-components-price-slider__actions button[type=submit]:not(.wp-block-search__button).wc-block-components-filter-submit-button {
	font-size: 16px;
	padding: 8px 20px;
}

.widget .wc-block-components-price-slider__range-input-progress {
	--track-background: var(--primary-color);
}

.widget .wc-block-components-price-slider {
	margin-bottom: 0;
}

.widget .wc-block-components-price-slider__range-input::-webkit-slider-thumb:hover {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.widget .wc-block-components-price-slider__range-input::-webkit-slider-thumb {
	border-color: var(--primary-color);
}

.widget .wc-block-components-filter-reset-button {
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
}

.pt-widget-menu.widget {
	background: var(--primary-color);
}

.pt-widget-menu.widget .wp-block-heading {
	color: var(--white-color);
}

.pt-shop-post {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	border-bottom: none;
	padding-bottom: 0;
}

.pt-shop-post:last-child {
	margin-bottom: 0;
	border: none;
	padding: 0;
}

.pt-shop-post .pt-shop-post-media {
	margin-right: 15px;
}

.pt-shop-post .pt-shop-post-media img {
	width: 90px;
	height: 90px;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.pt-shop-post .pt-shoppost-info {
	flex: 1;
	align-self: center;
}

.pt-shop-post .pt-shoppost-info span {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-transform: capitalize;
	color: var(--white-color);
	letter-spacing: 1px;
	margin-top: 5px;
	display: inline-block;
}

.pt-shop-post .pt-shoppost-info h6 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 0;
	overflow: hidden;
	color: var(--white-color);
}

.pt-shop-post .pt-shoppost-info h6 a:hover {
	color: var(--white-color);
	text-decoration: underline;
}

/*================================================
Woocommerce
================================================*/

/*+++++ Cart Block +++++*/
.admin-bar .offcanvas-end {
	top: 32px;
}

.pt-cart-button .offcanvas {
	padding: 75px 30px;
}

.pt-cart-button .widget_shopping_cart_content {
	height: calc(100vh - 340px);
}

.admin-bar .pt-cart-button .widget_shopping_cart_content {
	height: calc(100vh - 400px);
}

.pt-cart-button .widget_shopping_cart_content .product_list_widget {
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}

.pt-cart-button .offcanvas .pt-cart-header h3.modal-title {
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	margin-bottom: 30px;
	font-family: var(--body-fonts);
}

.pt-cart-button ul.product_list_widget li.mini_cart_item {
	margin: 0 0 30px;
	padding: 0;
	list-style: none;
	display: inline-block;
	width: 100%;
	position: relative;
}

.pt-cart-button ul.cart_list li img, ul.product_list_widget li img {
	width: 80px;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}

.pt-cart-button ul.cart_list li a {
	display: block;
	color: var(--dark-color);
	text-decoration: none;
	font-weight: bold;
	font-family: var(--title-fonts);
	padding-right: 30px;
	line-height: normal;
	text-transform: uppercase;
	font-size: 20px;
	list-style: 28px;
	letter-spacing: 1px;
}

.pt-cart-button ul.product_list_widget a.remove {
	float: right;
	right: 15px;
	top: 3px;
	left: inherit;
	font-size: 20px;
	font-weight: 400;
	position: absolute;
	padding: 0;
	line-height: 1;
	height: 1em;
	width: 1em;
	color: var(--dark-color);
	text-align: center;
	background: transparent;
	font-family: var(--body-fonts);
}

.pt-cart-button ul.product_list_widget a.remove:hover {
	color: var(--primary-color);
}

.pt-cart-button .woocommerce-mini-cart__total.total {
	margin-bottom: 15px;
	margin-top: 15px;
	font-family: var(--title-fonts);
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: var(--dark-color);
}

.pt-cart-button .woocommerce-mini-cart__total.total .woocommerce-Price-amount.amount {
	float: right;
	color: var(--dark-color);
	font-weight: 400;
	font-family: var(--body-fonts);
}

.pt-cart-button .woocommerce-mini-cart__buttons .button {
	display: block;
	text-align: center;
	margin-bottom: 10px;
	background: var(--primary-color);
	color: var(--white-color);
	border-radius: 0;
	font-weight: 400;
	padding: 0px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.pt-cart-button .woocommerce-mini-cart__buttons .button:hover {
	background: var(--dark-color);
}

.pt-cart-button .woocommerce-mini-cart__buttons .button.checkout {
	margin-bottom: 0;
	background: none;
	border: 1px solid var(--dark-color);
	color: var(--dark-color);
}

.pt-cart-button .woocommerce-mini-cart__buttons .button.checkout:hover {
	background: var(--dark-color);
	border-color: var(--dark-color);
	color: var(--white-color);
}

.pt-cart-button p {
	margin-bottom: 0;
}

.pt-cart-button .btn-close {
	position: absolute;
	left: 0;
	background: var(--primary-color);
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: var(--white-color);
	top: 0;
	font-size: 20px;
	border-radius: 0;
	padding: 0;
	opacity: 1;
}

.pt-cart-button .btn-close:hover {
	background: var(--dark-color);
}

.widget_shopping_cart_content .woocommerce-mini-cart .woocommerce-mini-cart-item dl.variation {
	display: none;
}

.woocommerce-checkout td.product-name dl.variation {
	display: none;
}

/*+++++ Offcanvas search +++++*/
.admin-bar .pt-search-button .offcanvas {
	top: 32px;
}

.pt-search-button .offcanvas {
	padding: 45px;
	height: auto;
	bottom: inherit;
	transition: all 0.5s ease;
}

.pt-search-button .offcanvas .btn-close {
	opacity: 1;
	background: none;
	color: var(--white-color);
	font-size: 0;
	position: absolute;
	right: -70px;
	top: 50%;
	transform: translateY(-50%);
	line-height: normal;
	padding: 0;
	box-shadow: none;
	width: 54px;
	height: 54px;
	line-height: 54px;
}

.pt-search-button .offcanvas .btn-close:before {
	content: "\e646";
	font-family: "themify";
	font-size: 18px;
}

.pt-search-button .offcanvas .btn-close:after {
	content: "";
	background: var(--primary-color);
	width: 54px;
	height: 54px;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s ease;
	z-index: -1;
}

.pt-search-button .offcanvas .btn-close:hover:after {
	background: var(--dark-color);
}

.pt-search-button .offcanvas .btn-close:hover {
	color: var(--white-color);
}

.pt-search-button .offcanvas .search-form {
	margin: 0 auto;
	width: 60%;
}

.pt-search-button .offcanvas .search-form .search-field {
	border: none;
	color: var(--secondary-color);
	background: var(--grey-color);
	padding-left: 30px;
}

.pt-search-button .offcanvas .search-form input.search-field[type="search"]::-webkit-search-decoration, .pt-search-button .offcanvas .search-form input.search-field[type="search"]::-webkit-search-cancel-button, .pt-search-button .offcanvas .search-form input.search-field[type="search"]::-webkit-search-results-button, .pt-search-button .offcanvas .search-form input.search-field[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.pt-search-button .offcanvas .search-form .search-field:focus {
	color: var(--dark-color);
}

.pt-search-button .offcanvas .search-form .search-submit {
	background: transparent;
	color: var(--secondary-color) !important;
}

.pt-search-button .offcanvas .search-form .search-submit:hover {
	color: var(--dark-color) !important;
}